    .bookItemDescription {
        font-size: var(--text-sm);
        color: var(--text-light);
        line-height: 1.5;
        margin-bottom: var(--gap);
        text-align: left;
        flex-grow: 1;
    }